.row.participant{class: leader ? "font-weight-bold" : "font-weight-normal"}
  .col-5
    = link_to participant_in_team.name, ngo_participant_path(team.project.ngo, participant_in_team.id, team_id: team.id)
  .col-3
    = link_to t(".delete_button"), remove_participant_team_path(team.id, participant_in_team.id), method: 'put', class: "text-danger pl-2 mt-3", data: { confirm: t(".data_confirm_delete")}
  .col-4
    - if leader
      =link_to t(".make_regular_button"), make_regular_team_path(team.id, participant_in_team.id), method: 'put', class: "text-secondary"
    - else
      = link_to t(".make_leader_button"), make_leader_team_path(team.id, participant_in_team.id), method: 'put', class: "text-secondary font-weight-light"
