%h1.text-center.mb-4.mt-4=@team.country
.row.mb-5
  .col-md-4.offset-md-4
    .card
      .card-body
        %h4.mb-4.card-title=t(".title")
        .card-text
          %p
            %strong=t(".budget")
            € #{@team.budget}
          %p
            %strong=t(".project.title")
            = link_to @team.project.name, project_path(@team.project)
        %hr

        %h4.mb-4.mt-4.card-title=t(".participant.list.title")
        = render 'teams/team_participants', team: @team
        %hr

        %h4.mb-4.mt-4.card-title=t(".participant.add.title")

        %h5.mb-4 #{t(".participant.possible.title")} #{@team.country}
        = render 'teams/add_participant_form'

        %h5.mt-4=t(".participant.create.title")
        .alert.alert-light.small=t(".participant.alert")
        .text-center
          = link_to t(".buttons.new"), ngo_new_participant_path(@team.project.ngo, team_id: @team.id), method: "get", class: "btn btn-success"

      .card-footer.text-right
        = link_to t(".buttons.edit"), edit_team_path(@team), class: "btn btn-primary"
        = link_to t(".buttons.delete"), team_path(@team),method: "delete", class: "btn btn-danger", data: { confirm: t(".data_confirm")}
