%li.list-group-item.d-flex.justify-content-between.align-items-center
  = link_to ngo.name, ngo_path(ngo.id)
  - if ngo.is_admin?(current_user)
    .row
      = link_to t(".edit_button"), edit_ngo_path(ngo), class: "btn btn-primary mr-1"
      = link_to t(".delete_button"), ngo, method: "delete", class: "btn btn-danger", data: { confirm: t(".data_confirm")}
