- if @ngo.users.count > 0
  - @ngo.users.each do |user|
    %li.list-group-item.d-flex.justify-content-between.align-items-center.row
      .col-7
        = user.name
        -unless @ngo.is_admin?(current_user)
          -if @ngo.is_admin?(user)
            .badge.badge-primary Admin
          -else
            .badge.badge-warning Worker
      .col-5
        -if @ngo.is_admin?(current_user)
          -if @ngo.is_admin?(user)
            = link_to t(".make_worker_button"), ngo_make_worker_path(:user=>user, :ngo_id=>@ngo.id), method: 'put', class: "btn btn-success btn-sm btn-block", data: { confirm: t(".data_confirm_stop")}
          -else
            = link_to t(".make_admin_button"), ngo_make_admin_path(:user=>user, :ngo_id=>@ngo), method: 'put', class: "btn btn-primary btn-sm btn-block"
          = link_to t(".delete_button"), destroy_association_ngo_path(:user=>user, id: @ngo), method: 'delete', class: "btn btn-danger btn-sm btn-block", data: { confirm: t(".data_confirm_delete")}
- else
  .alert.alert-warning.text-center #{t(".alert_warning")} #{@ngo.name}.
