.row.bottom-bar-container
  .col-12.col-md-4.offset-md-4
    %h1.text-center NGO
    -@ngos.each do |ngo|
      %ul.list-group
        %li.list-group-item.d-flex.justify-content-between.align-items-center
          -if Request.where(user_id: current_user.id, ngo_id:ngo.id).exists?
            = link_to ngo.name, ngo_path(ngo.id)
            = link_to t(".request_button"), "#", class: "btn btn-warning mr-1"
          -else
            = link_to ngo.name, ngo_path(ngo.id)
            = link_to t(".join_button"), join_ngo_path(ngo.id), method: "post", class: "btn btn-success mr-1"
