= render 'layouts/errors', resource: @participant
= form_tag @participant.new_record? ? ngo_create_participant_path(@ngo, @team.id) : ngo_participant_path(@ngo.id, @participant), method: @participant.new_record? ? 'post' : 'put' do
  = hidden_field_tag "team_id", @team ? @team.id : nil
  -# = hidden_field_tag "project_id", @team ? @team.project.id : nil
  .form-group
    = label_tag t(".name")
    = text_field_tag 'participant[name]', @participant.try(:name), class: "form-control"
  .form-group
    = label_tag t(".country_of_origin")
    = text_field_tag 'participant[nationality]', @participant.try(:nationality), class: "form-control"
  .form-group
    = label_tag t(".residence_country")
    = text_field_tag 'participant[residence]', @participant.try(:residence), class: "form-control"
  =label_tag t(".telephone")
  .row
    .col-5.col-sm-5
      .form-group
        = text_field_tag 'participant[country_code]', @participant.try(:country_code),:placeholder => t(".placeholder_code"),  class:"form-control"
    .col-7.col-sm-7
      .form-group
        = text_field_tag 'participant[telephone]', @participant.try(:telephone), :placeholder => t(".placeholder_number"), class: "form-control"
  .form-group
    = label_tag t(".email")
    = email_field_tag 'participant[email]', @participant.try(:email), class: "form-control"
  .form-group
    = label_tag t(".date_of_birth")
    = date_field_tag 'participant[date_of_birth]', @participant.try(:date_of_birth), class: "form-control"
  .form-group
    = label_tag t(".sex")
    = select_tag 'participant[sex]', sex_for_select(@participant.try(:selected)), class: "form-control"
  = submit_tag t(".save_button"), class: "btn btn-primary"
