.card
  .card-body
    %h1.text-center.mt-3.mb-5=participant.name
    %table.table
      %tbody
        %tr
          %th{scope: 'row'}=t(".country_of_origin")
          %td=participant.nationality
        %tr
          %th{scope: 'row'}=t(".residence_country")
          %td=participant.residence
        %tr
          %th{scope: 'row'}=t(".telephone")
          %td (+#{participant.country_code}) #{participant.telephone}
        %tr
          %th{scope: 'row'}=t(".email")
          %td=participant.email
        %tr
          %th{scope: 'row'}=t(".date_of_birth")
          %td=participant.date_of_birth
        %tr
          %th{scope: 'row'}=t(".age")
          %td=participant.age
        %tr
          %th{scope: 'row'}=t(".sex")
          %td=participant.sex
  .card-footer.text-center
    = link_to t(".edit"), edit_ngo_participant_path(@ngo.id, participant), class: "btn btn-primary mt-3"
    = link_to t(".delete"), ngo_participant_path(@ngo.id, participant), method:'delete', class: "btn btn-danger mt-3", data: { confirm: t(".data_confirm")}
