.row
  .col-12.col-md-4.offset-md-2
    = render 'participant_details', participant: @participant
  .col-12.col-md-4
    .card
      .card-body
        %p
          %h2.mb-4=t(".title")
          - if @participant.teams.count == 0
            .alert.alert-warning= t(".alert")
          - else
            .list-group
              - @participant.teams.each do |team|
                =link_to project_path(team.project.id), class: 'list-group-item list-group-item-action' do
                  =team.project.name + " (" + team.country + ")"
                  .small.text-muted
                    #{team.project.city} (#{team.project.country}) #{team.project.start_day} - #{team.project.final_day}
