%li.list-group-item.d-flex.justify-content-between.align-items-center
  %p
    NGO: #{request.ngo.name}
    %br
    #{t('.user')} #{request.user.name}
  %p
    = link_to t('.button.accept'), handle_request_path(accept: true, request_id: request.id), method: 'delete', class: "btn btn-primary mr-1"
    = link_to t('.button.reject'), handle_request_path(accept: false, request_id: request.id), method: 'delete', class: "btn btn-danger", data: { confirm: t('.alert.data_confirm')}
