.row.bottom-bar-container
  .col-md-4.offset-md-4
    %h1.text-center=t(".title")
    .list-group
      -if Request.to_user(current_user.id).count == 0
        .alert.alert-warning.text-center=t('.warning_alert')
      -else
        = render @requests
