= form_for destination do |f|
  = render 'layouts/errors', resource: @project
  .form-group
    = f.label t(".category")
    = f.select :category, categories_for_select, {}, class: "form-control"
  .form-group
    = f.label :ngo_id
    %br
    = link_to @project.ngo.name, @project.ngo
  .form-group
    = f.label t(".name")
    = f.text_field :name, class: "form-control"
  .form-group
    = f.label t(".code")
    = f.text_field :code, class: "form-control"
  %h4
    =t(".h4")
    %small.text-muted=t(".text_muted")

    = text_field_tag "project[dates]", nil, class: "form-control", id: "daterange"
    :javascript
      $(document).ready(function() {
        $('input[id="daterange"]').daterangepicker({
        "locale": {
        "format": "DD-MM-YYYY",
         "separator": " "
        }
        });
      });
  .form-group
    = f.label t(".country")
    = f.text_field :country, class: "form-control"
  .form-group
    = f.label t(".city")
    = f.text_field :city, class: "form-control"

  = f.submit t(".save_button"), class: "btn btn-primary"
