.navbar.navbar-expand.navbar-light.bg-light
  .row.col-12
    .col-12.col-md-6
      %ul.nav.navbar-nav
        %h3=t('.title')
        - project_lists.each do |list_name|
          %li.nav-item{class: @active == list_name ? 'active' : ''}
            = link_to t('.'+list_name), projects_path(list: list_name), class: "nav-link"

    .col-12.col-md-6
      = form_tag @ngo ? ngo_project_search_path(@ngo) : project_search_path, class: "form-inline", method: "get" do
        = text_field_tag "query", @query || "", class:"form-control mr-sm-2 accordion", type:"search", placeholder:t(".search_placeholder"), "aria-label": "Search"
        %button.btn.btn-primary{"data-target" => "#demo", "data-toggle" => "collapse", :type => "button", class: "ml-2 mr-2"}=t(".button_advanced")
        = submit_tag t(".button_search"), class: "btn btn-success"
        - if defined?(ngo_id)
          = hidden_field_tag 'ngo_id', ngo_id
        #demo.collapse
          .form-group.pl-2.mb-1.mt-1
            .row
              .col-5
                = label_tag "start_day", t(".start_day")
              .col-7
                = date_field_tag "start_day", @start_day || "", class: "form-control"
          .form-group.pl-2.mb-1
            .row
              .col-5
                = label_tag "final_day", t(".final_day")
              .col-7
                = date_field_tag "final_day", @final_day || "", class: "form-control"
          .form-group.pl-2
            .row
              .col-5
                = label_tag "city", t(".city")
              .col-1
                = text_field_tag "city", @city || "", class: "form-control", placeholder: t(".city")
