%li.list-group-item.d-flex.justify-content-between.align-items-center
  = link_to project.name, defined?(ngo) ? project_path(project, ngo: true) : project_path(project)
  .row
    - if user_signed_in? && project.ngo.is_admin?(current_user)
      = link_to t('.edit'), edit_project_path(project), class: "btn btn-primary mr-1"
      = link_to t('.delete'), project_path(project), method: "delete", class: "btn btn-danger", data: { confirm: "Are your sure?"}
