= render 'projects/project_search_form', ngo_id: defined?(ngo_id) ? ngo_id : nil
.row.bottom-bar-container
  .col-12.col-md-4.offset-md-4
    %h1.text-center=title
    - if projects.empty?
      .alert.alert-warning=@message_when_empty
    - else
      %ul.list-group
        = render projects
