= render 'projects/project_search_form'
- if (@query.blank? && @start_day.blank? && @final_day.blank? && @city.blank?)
  .alert.alert-warning=t(".no_field")
- else
  -if @projects
    %h2.text-center.mb-4="#{t(".search_result")} #{@query} #{@start_day} #{@final_day} #{@city}"
    - if @projects.count == 0
      .alert.alert-info=t(".alert")
    - else
      .row
        .col-12.col-md-4.offset-md-4
          .list-group#search-results
            = render @projects
