-unless @breadcrumbs.blank?
  %nav{"aria-label" => "breadcrumb"}
    %ol.breadcrumb
      - @breadcrumbs.each_with_index do |breadcrumb, i|
        - if i < @breadcrumbs.size - 1
          %li.breadcrumb-item
            = link_to breadcrumb[:text], breadcrumb[:path]
        - else
          %li.breadcrumb-item.active{"aria-current" => "page"}=breadcrumb[:text]
          
