- if resource.errors.any?
  .alert.alert-danger
    %h2=t('.error_message', count: resource.errors.count, model: resource.model_name.human)
    %ul
      - resource.errors.full_messages.each do |message|
        %li= message
