%nav.navbar.navbar-expand-md.navbar-light.bg-light
  = link_to t(".index"), root_path, class: 'navbar-brand'

  %button.navbar-toggler{type: "button", "data-toggle": "collapse", "data-target": "#navbarNav", "aria-controls": "navbarNav", "aria-expanded": "false", "aria-label": "Toggle navigation"}
    %span.navbar-toggler-icon
  .collapse.navbar-collapse#navbarNav
    %ul.navbar-nav
      - if user_signed_in?
        %li.navbar-item{class: active_class(projects_path)}
          = link_to t(".projects"), projects_path, class: "nav-link"

        -unless request.path == '/my-ngos' || request.path == '/projects' || request.path == '/requests' || request.path == '/'
          %li.navbar-item
            -# {class: active_class(ngo_participants_path(@ngo))}
            -# = link_to t(".participants"), ngo_participants_path(@ngo), class: "nav-link"
        -# - if !(current_page?(:controller => 'ngos', :action => 'my_ngos'))
        %li.dropdown
          .navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "link"}
            NGO
          %ul.dropdown-menu{"aria-labelledby" => "navbarDropdownMenuLink"}
            %li.navbar-item
              -# {class: active_class(ngo_participants_path(@ngo))}
              = link_to t(".menu_items.new"), new_ngo_path, class: "dropdown-item"
            %li.navbar-item
              -# {class: active_class(ngo_participants_path(@ngo))}
              = link_to t(".menu_items.myNgos"), my_ngos_path, class: "dropdown-item"
            %li
              = link_to t(".menu_items.join"), join_ngos_path, class: "dropdown-item"

        - if Ngo.with_admin(current_user.id).count > 0
          %li.navbar-item{class: active_class(requests_path)}
            = link_to t(".requests"), requests_path, class: "nav-link"

  .nav.navbar-right.ml-auto
    - if I18n.locale == :en
      = link_to "Español", change_locale_path(:es), {class: "nav-link"}
    - else
      = link_to "English", change_locale_path(:en), {class: "nav-link"}
    - if user_signed_in?
      .dropdown.mr-5
        %button#dropdownMenuButton.btn.btn-primary.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
          -if I18n.locale == :en
            My Account
          -else
            Mi Cuenta
        %ul.dropdown-menu{"aria-labelledby" => "dropdownMenuButton"}
          %li{class: "nav-item active"}
            = link_to t(".profile"), profile_path, class: "dropdown-item"
          %li
            = link_to t(".sign_out"), sign_out_path, method: "delete", class: "dropdown-item"
    - else
      = link_to t(".sign_in"), user_session_path, class: "btn btn-primary mt-3"
